<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <pre class="text-faded">
					Problems? Solved. Bugs? Fixed. Coronavirus? Cured. That's right.
					If you get Joshua now within 24 hours, maybe you'll get this package and even more!
					
					Okay, maybe that was an overexaggeration. However, Joshua does truly love problem solving,
					programming in many languages (e.g. C++, C#, and Python), and creating personal electrical and
					software projects.
					
					As a software developer with 3 years of professional experience, a Bachelor's degree in EE with a 
					speciailization in machine learning, and an upcoming Master's degree in ML, Joshua is 
					constantly challenging himself to learn new cutting-edge and creative engineering concepts. He has
					worked on full stack dev, iSCSI network dev, CI/CD/CT pipelines, camera software tool dev, 
					3A image QA testing, many electrical/mechanical project dev, and much more. You can find more details
					in the sections below.
					
					Joshua also loves to learn new, creative things. So when he isn't coding, you'll find him breakdancing; 
					drawing; playing cello, guitar, or electric bass; cooking; gaming; and more. You can look below to see some 
					of his passions in action!
				</pre>
            </div>
        </div>
    </div>
</section>
